//colors

$sidebar-gray: #505050;

$body-white: #f1f1f1;

$nav-yellow: #f3d83f;

$calendar-bg: #959595;

$schedule-gray: #969595;

$daybox-bg: #eaeaea;

$daybox-color: #9b9b9b;

$hr-color: #ccc;

$table-color: #a4a9ae;

$table-bg: #f0f2f5;

$table-bg2: #f6f8fa;

$icon-viewed: #a3cb7c;

$icon-notviewed: #d6b600;

$icon-active: #666;

$footer: #444444;

$footer-secondary: #333;

$message-badge: #853c37;

$circle-bg: #eff3f4;

$prof-panel: #9e9e9e;

$nav-color: #b7bbc2;